* {
    box-sizing: border-box;
  }
  
    body{
   padding: 10px;
    background: #87CEEB;
  
      margin-left:0%;
      font-family: Arial, Helvetica, sans-serif;
      }
          .first {
    width:150px;
    height:60px;
    margin-left:50%;
   margin-top:0%;
  background-color:#ddd;
  padding:2px;
  border:1px solid black;
  border-radius:25px;
  
  
      }
      div.top {
      overflow:hidden;
      background-color:#333;
  height: 70px;
  
      }
      .top a{
      float:left;
      color:#f2f2f2;
      text-align: center;
      padding: 16px 16px;
      text-decoration: none;
      font-size: 17px;
      }
      .top a:hover{
      background-color:#ddd;
      color:black;
      height:70px;
      }
      .top a.active{
      background-color:#04AA6D;
      color:white;
      height: 70px;
      }
      .Redu{
      width:100%;
      max-height:600px;
      }
      .cont {
      position: relative;
      text-align:center;
      color:black;
      }
      .top-left {
      position: absolute;
     top:40px;
  
      left: 16px;
      }
  .center {
     position: absolute;
       top:200px;
     margin-left:10%;
     font-size:30px;
     color:#072307;
     font-weight: bold;
     font-family: georgia,  serif;
     background-color:#ddd;
    
     }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #87CEEB;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 
  .sticky {
  position: fixed;
  margin-left: 1%;
  color: tomato;
  }
  
  .text {
  width:100%;
  
  border:1px solid blue;
  }
  
  
  /* Footer */
  .footer {
    position: fixed;
   left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
  }
  
  /* Style the footer navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the fotter links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  #main{
    background-color: aliceblue;
    margin-bottom: 60px;
    width:100%;
    height:100000px;
    border: 1px solid black;
    overflow: hidden
   
  }